html {
  font-size: 10px;
}

main {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}


/* Form Styling */

#survey-form {
    background-color: #1256cc;
    max-width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

label {
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
}