html {
  font-size: 10px;
}

main {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

ul {
  max-width: 650px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
  font-size: 2rem;
}

#survey-form {
    background-color: azure;
}